@font-face {
  font-family: "YoungSerif";
  src: url(./fonts/YoungSerif-Regular.ttf);
}

* {
  font-family: YoungSerif;
}
.navbar {
  background-color: #022603 !important;
  height: 80px;
}
.navbar-brand {
  color: white !important;
}

.btn-primary {
  background-color: #022603 !important;
}

.btn-primary:hover {
  border-color: #022603;
  background-color: #022603 !important;
}

.btn-primary:active {
  border-color: #022603;
  background-color: #022603 !important;
}
.swal-actions {
  width: 100% !important;
}
.swal2-confirm {
  width: 460px !important;
  background-color: #022603 !important;
}
@media only screen and (max-width: 500px) {
  .main {
    padding: 10px 4px !important;
  }
}
